.main {
  max-width: 850px;
  margin: 80px auto;
  padding: 0 20px;
}

.back-to-orders-link {
  display: inline-block;
  margin-bottom: 30px;
}

.delivery-date {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.product-info {
  margin-bottom: 10px;
}

.product-image {
  max-width: 150px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.progress-labels-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 15px;
}

.progress-label {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: rgb(100, 100, 100);
}

.current-status {
  color: rgb(6, 125, 98);
}

.completed-status {
  color: rgb(6, 125, 98);
}

.progress-bar-container {
  height: 4px;
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
}

.progress-bar {
  height: 100%;
  width: 50%;
  background-color: rgb(6, 125, 98);
  border-radius: 2px;
}